
<div class="container-fluid coverSection">
    <div class="row">
        <div class="col-sm-6">
            <p>Cover Image</p>
        </div>
        <div class="col-sm-6">
            <p>Cover Image</p>
        </div>
    </div>
</div>