
<div class="container-fluid healthSection">
    <div class="row">
        <div class="col-sm-6">
            <p>Health Article</p>
        </div>
        <div class="col-sm-6">
            <p>Health Article</p>
        </div>
    </div>
</div>