
<div class="container-fluid nationalSection">
    <div class="row">
        <div class="col-sm-6">
            <p>National Article</p>
        </div>
        <div class="col-sm-6">
            <p>National Article</p>
        </div>
    </div>
</div>