
<div class="container-fluid politicSection">
    <div class="row">
        <div class="col-sm-6">
            <p>Political Article</p>
        </div>
        <div class="col-sm-6">
            <p>Political Article</p>
        </div>
    </div>
</div>