<!--News Page-->


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comment On This Article/h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <input type="text" class="modal-comment" placeholder="Start Typing">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-save">Save</button>
                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 mainTitle">MIDDLE NEWS</h1>
        <p class="lead">GET IN THE MIDDLE OF THE NEWS AND YOU GET IT.</p>
        <hr class="my-2">
        <p>COMPARE LEFT AND RIGHT LEANING NEWS ON A RANGE OF TOPICS.</p>
    </div>
</div>

<nav class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn politics" data-section="politicSection">POLITICS</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn national" data-section="nationalSection">U.S.</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn world" data-section="worldSection">WORLD</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn business" data-section="businessSection">BUSINESS</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn entertainment" data-section="entertainmentSection">ENTERTAINMENT</button>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 navSection">
            <button class="navBtn health" data-section="healthSection">HEALTH</button>
        </div>
    </div>
</nav>

<main class="container-fluid">
   {{> coverImages}}
   {{> nationalArticles}}
   {{> worldArticles}}
   {{> politicArticles}}
   {{> businessArticles}}
   {{> entertainmentArticles}}
   {{> healthArticles}}
</main>
