.blueArticleWrapper {
    border: 5px solid #3773c1;
    padding: 5px;
    border-radius: 100px 0px 0px 0px;
    margin-bottom: 10px;
    margin-right: 5px;
    overflow: hidden;
    height: 500px; 
    max-width: 550px;
    float: right;
    display: block;
}

.redArticleWrapper {
    border: 5px solid #df3026;
    padding: 5px;
    border-radius: 0px 100px 0px 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 500px; 
    max-width: 550px;
    float: left;
    display: block;
}

details summary::-webkit-details-marker {
    display:none;
}

.leftHeader {
    padding: 20px;
    font-family: 'Arimo', sans-serif;
    float: right;
    border-right: 5px solid #3773c1;
    margin-right: 5px;
    display: block;
}

.fa-arrow-right {
    color: #3773c1;
}

.fa-arrow-left {
    color: #df3026;
}


.rightHeader {
    padding: 20px;
    font-family: 'Arimo', sans-serif;
    float: left;
    border-left: 5px solid #df3026;
    margin-left: 5px;
    display: block;
}

.infoWrapper {
    padding: 5px;
    margin: 0px;
}

.blueArticleImage {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 95px 0px 0px 0px;
    opacity: 1;
    transition: opacity 0.5s;
}

.redArticleImage {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 0px 95px 0px 0px;
    opacity: 1;
    transition: opacity 0.5s;
}

.imageWrapper {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.action {
    position: absolute;
    opacity: 0;
    font-size: 3em;
    color: #3773c1;
    background-color: rgba(255,255,255,0.5);
    border: 5px solid #3773c1;
    border-radius: 20px;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.articleAction {
    top: 30%;
    left: 20%;
}

.articleComment {
    top: 30%;
    left: 60%;
}

.imageWrapper:hover .blueArticleImage, .imageWrapper.active .blueArticleImage {
    opacity: 0.5;
}

.imageWrapper:hover .redArticleImage, .imageWrapper.active .redArticleImage {
    opacity: 0.5;
}

.imageWrapper:hover .action, .imageWrapper.active .action {
    opacity: 1;
}

.action:hover, .action:active {
    background-color: white;
    color: #df3026;
    outline: none;
}

.articleTitle {
    font-weight: bolder;
}

.leftNews {
    margin-right: 0px;
    padding-right: 0px;
}

.rightNews {
    margin-left: 0px;
    padding-left: 0px;
}