html, body {
    font-family: 'Roboto', sans-serif;
}

main, nav {
    text-align: center;
}


.jumbotron {
    text-align: center;
    margin-bottom: 0px;
}

.blueArticleWrapper {
    border: 5px solid blue;
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    margin-bottom: 10px;  
}

.redArticleWrapper {
    border: 5px solid red;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    margin-bottom: 10px;
}

.navSection {
    padding: 0px;
}

.navBtn {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    background-color: red;
    color: white;
    transition: background-color 0.5s;
}

.navBtn:hover {
    background-color: blue;
}

.navBtn:active, .navBtn:focus {
    outline: none;
}

.nationalSection, .worldSection, .healthSection, .politicSection, .businessSection, .entertainmentSection {
    display: none;
    margin: 0px;
    padding: 0px;
}

.blueArticleImage {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 40px 0px 0px 0px;
}

.redArticleImage {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px 40px 0px 0px;
}