html, body {
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: 1px dashed lightgray;
}

main, nav {
    text-align: center;
}

button:visited {
    outline: none;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: white;
}

.jumboText {
    font-family: 'Roboto Condensed', sans-serif;
}



.navRow {
    padding: 20px;
    border-top: 5px solid #3773c1;
    border-bottom: 5px solid #3773c1;
    margin: 10px 0px;
}

nav.container-fluid {
    padding: 0px;
}

.navSection {
    padding: 0px;
}

.navBtn {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    border-radius: 40px;
    background-color: #df3026;
    color: white;
    transition: background-color 0.5s;
}

.navBtn:hover {
    background-color: #3773c1;
}

.navBtn:active, .navBtn:focus {
    outline: none;
}

.nationalSection, .worldSection, .healthSection, .politicSection, .businessSection, .entertainmentSection {
    display: none;
    margin: 0px;
    padding: 0px;
}

.logoBtn {
    height: 200px;
    width: 100%;
    background-color: #3773c1;
    border: 0px;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    transition: background-color 0.5s;
}

.logoBtn:active, .logoBtn:hover {
    outline: none;
    background-color: white;
}

.logoBtn:hover .logo-left {
    color: #3773c1;
    border: 5px solid #3773c1;
    transform: rotate(-5deg);
    transform-origin: 100% 100%;
}

.logoBtn:hover .logo-right {
    color: #df3026;
    border: 5px solid #df3026;
    transform: rotate(5deg);
    transform-origin: 0% 100%;
}

.logo-left {
    display: inline-block;
    padding: 20px 10px 20px 20px;
    margin-right: 0px;
    color: white;
    font-size: 4em;
    border: 5px solid white;
    border-radius: 60px 0px 0px 60px;
    transform-origin: 100% 100%;
    transition: color 1s, border 1s, transform 0.5s;
}

.logo-right {
    display: inline-block;
    padding: 20px 20px 20px 10px;
    margin-left: 0px;
    color: white;
    font-size: 4em;
    border: 5px solid white;
    border-radius: 0px 60px 60px 0px;
    transform-origin: 0% 100%;
    transition: color 1s, border 1s, transform 0.5s;
}

@media only screen and (max-width: 575px) {

    .logo-left, .logo-right {
        font-size: 2.5em;
    }

}

.coverImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0px;
}





